<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/StorageService/Service1/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStorageService"
        contract="StupidStorageService.IStorageService" name="WSHttpBinding_IStorageService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding" />
        <binding name="WSHttpBinding_IStorageService" />
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="LogBookService.LogBookService">
        <endpoint address="" binding="wsHttpBinding" contract="LogBookService.ILogBookService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/LogBookService/Service1/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
